<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <div class="logo">
      <a class="navbar-brand logo-icon" href="/listings">
        <i class="fa-regular fa-compass"></i>
        <span class="logo-text">TravelNest</span>
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto" id="navbarNavAltMarkup">
        <form
          action="/listings/search"
          class="d-flex"
          role="search"
          method="GET"
        >
          <select
            name="country"
            id="country"
            class="form-control me-2 search-inp"
            role="search"
            required
          >
            <option value="" disabled <%= !locals.searchCountry ? 'selected' : '' %>>Choose Country</option>
            <% const countries = ["United Arab Emirates", "United Kingdom", "Thailand", "United States", "Canada", "Indonesia", "Fiji", "Netherlands", "Tanzania", "Switzerland", "Mexico", "Italy", "Monaco", "India", "Costa Rica", "Maldives", "Japan", "Greece"]; %>
            <% countries.forEach(country => { %>
              <option value="<%= country %>" <%= locals.searchCountry === country ? 'selected' : '' %>><%= country %></option>
            <% }); %>
          </select>
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Nest your home</a>
        <% if(!currUser) { %>
        <a class="nav-link" href="/signup"><b>Sign Up</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } else { %>
        <a href="/profile" class="user-icon anchor"
          ><i class="fa-regular fa-circle-user"></i
        ><span class="icon-text">User</span></a>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
